exports = module.exports = require("../../node_modules/css-loader/lib/css-base.js")(false);
// imports


// module
exports.push([module.id, "._2uwOcwjmS6lDWE1t6Iylmi,div.lP88cclK6KBi3N9JJ2VZ6{padding-inline-start:20px;padding-inline-end:20px}@media only screen and (min-width: 480px){._2uwOcwjmS6lDWE1t6Iylmi,div.lP88cclK6KBi3N9JJ2VZ6{padding-inline-start:36px;padding-inline-end:36px}}@media only screen and (min-width: 1280px){._2uwOcwjmS6lDWE1t6Iylmi,div.lP88cclK6KBi3N9JJ2VZ6{padding-inline-start:52px;padding-inline-end:52px}}._3Joukv5iN8EzYFmry8ALnK{margin-inline-start:20px;margin-inline-end:20px}@media only screen and (min-width: 480px){._3Joukv5iN8EzYFmry8ALnK{margin-inline-start:36px;margin-inline-end:36px}}@media only screen and (min-width: 1280px){._3Joukv5iN8EzYFmry8ALnK{margin-inline-start:52px;margin-inline-end:52px}}div.lP88cclK6KBi3N9JJ2VZ6{z-index:5}._2cdOibmhx1Ak156gzZMjXQ{display:none}._2fp343PcvzW9e6ATMuSvi-{width:100%;height:100%;position:fixed;top:0;inset-inline-start:0}._3uuwF8vZd3vDH6Ov1zpYSq{bottom:120px;position:fixed;z-index:5}._2_XEkmHx2e6g0uB8p5gQrV{width:100%;height:100%;top:0;inset-inline-start:0;position:fixed;background:rgba(0,0,0,0.3);z-index:5}@media only screen and (max-width: 639px) and (orientation: portrait){._3uuwF8vZd3vDH6Ov1zpYSq{bottom:200px}}\n", ""]);

// exports
exports.locals = {
    "grid-sides": "_2uwOcwjmS6lDWE1t6Iylmi",
    "gridSides": "_2uwOcwjmS6lDWE1t6Iylmi",
    "vnpv": "lP88cclK6KBi3N9JJ2VZ6",
    "grid-sides-margins": "_3Joukv5iN8EzYFmry8ALnK",
    "gridSidesMargins": "_3Joukv5iN8EzYFmry8ALnK",
    "hidden": "_2cdOibmhx1Ak156gzZMjXQ",
    "video-playback-container": "_2fp343PcvzW9e6ATMuSvi-",
    "videoPlaybackContainer": "_2fp343PcvzW9e6ATMuSvi-",
    "video-playback-controls": "_3uuwF8vZd3vDH6Ov1zpYSq",
    "videoPlaybackControls": "_3uuwF8vZd3vDH6Ov1zpYSq",
    "video-container-overlay": "_2_XEkmHx2e6g0uB8p5gQrV",
    "videoContainerOverlay": "_2_XEkmHx2e6g0uB8p5gQrV"
};
